<html>
<head>
    <title>Places</title>
</head>
<body>
    <h1>You have been to:</h1>
    <p>{{ new_city.getCity }}</p>
    <h2>You went for this many days:</h2>
    <p>{{ new_city.getLength }}</p>
    <h2>Here's who went with you:</h2>
    <p>{{ new_city.getPeople }}</p>
    <p><a href='/'>View your cities.</a></p>
</body>
</html>
